extends layout

block content
  div#new-wrapper
    h1 Pick a f*cking place to eat.
    label Enter a name for your group
    input(v-model="name")
    button.btn(v-on:click="createPoll") Create

  script(type='text/javascript', src='/javascript/index.js')
