extends layout

block content
  h1 Group Eat
  p Helping your indecisive group of friends pick a place to eat.

  div#new-wrapper
    label Name
    br
    input(v-model="name")
    br
    label Optionally, enter a passcode
    br
    input(v-model="code")
    br
    button(v-on:click="createPoll") Create

  script(type='text/javascript', src='/javascript/index.js')
