extends layout

block content
    div#poll-wrapper
        h1= poll.name
        input(v-model="newOption", placeholder="Enter a new option here")
        button.btn(v-on:click="submitNewOption") Submit
        div#results
            div.option(v-for="option in poll.options", v-on:click="vote($index)")
                span.votes(v-if="poll.votes.length > 0")= "{{ ((option.votes.length / poll.votes.length) * 100) + '% (' + option.votes.length + ')' }}"
                span.name= "{{ option.text }}"
                div.bar(v-if="poll.votes.length > 0" v-bind:style="{ width: ((option.votes.length / poll.votes.length) * 100) + '%' }")
        br
        br
        br
        a.btn(href="/") Back
    script.
        var poll = !{JSON.stringify(poll)};
    script(type='text/javascript', src='/javascript/poll.js')